#content {
    margin-top: 100px;
}

#chatHistory {
    border: #2c3e50 solid;
    height: 500px;
    overflow: scroll;
    padding: 10px;
}

#current_user {
    padding: 19.5px 15px 15px 19.5px;
    position: relative;
    color: #ffffff;
}

.selectedUser {
    color: #000000;
    font-style: italic;
}

.fromMe {
    font-weight: bold;
}

.fromOtherPerson {
    font-weight: bold;
    color: #18bc9c;
}

#messageForm {
    margin-top: 5px;
    text-align: center;
}

#messageInput {
    width: 60%;
}